@model IEnumerable<Inscripciones.Models.DetalleInscripcion>

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
=======
<h1>Detalles de Inscripciones</h1>

<p>
    <a asp-action="Create">Crear nueva inscripción</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModalidadCursado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.ModalidadCursado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscripcion.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
=======
                    @Html.DisplayFor(modelItem => item.ModalidadCursado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscripcion.Inscripto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
            </td>
        </tr>
}
    </tbody>
</table>
