@model IEnumerable<Inscripciones.Models.DetalleInscripcion>

@{
    ViewData["Title"] = "Index";
    int idinscripcion = ViewBag.IdInscripcion;
}

<h1>Detalles de Inscripciones</h1>

<p>
    <a asp-action="CreateConInscripcion" asp-route-idinscripcion="@idinscripcion" >Crear nueva inscripción</a>
</p>
<form asp-controller="DetalleInscripciones" asp-action="IndexPorInscripcion">
    <div class="form-group">
        <label asp-for="@idinscripcion" class="control-label"></label>
        <select asp-for="@idinscripcion" class="form-control" asp-items="ViewBag.Inscripciones" disabled onchange="this.form.submit()"></select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModalidadCursado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ModalidadCursado)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Materia.AnioCarrera.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Materia.Nombre)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="details-link">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Eliminar</a>
                </td>

        </tr>
}
    </tbody>
</table>
