<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscripciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<<<<<<< HEAD
    <link rel="stylesheet" href="~/Inscripciones.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inscripciones</a>
=======
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #007BFF; font-weight: bold; font-size: 1.5em; transition: color 0.3s;">Inscripciones</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
<<<<<<< HEAD
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aniversario35">35 Aniversario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="Index">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Carreras" asp-action="Index">Carreras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="inscripciones" asp-action="Index">Inscripciones</a>
                        </li>
                        
                     
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bases
                            </a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" 
                                <li><a class="dropdown-item" asp-area="" asp-controller="Carreras" asp-action="Index">Carreras</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="AnioCarreras" asp-action="Index">Años carreras</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Materias" asp-action="Index">Materias</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="DetalleInscripciones" asp-action="Index">Detalle Inscripciones</a></li>
                            </ul>
=======
                    <ul class="navbar-nav flex-grow-1" style="list-style-type: none; padding: 0; margin: 0; display: flex; flex-wrap: nowrap;">
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index") ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Inicio</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Nosotros") ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Nosotros" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Nosotros") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Nosotros</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Aniversario35") ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Aniversario35" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Aniversario35") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">35 Aniversario</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Alumnos") ? "active" : "")"
                               asp-area="" asp-controller="Alumnos" asp-action="Index" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Alumnos") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Alumnos</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Carreras") ? "active" : "")"
                               asp-area="" asp-controller="Carreras" asp-action="Index" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Carreras") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Carreras</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Inscripciones") ? "active" : "")"
                               asp-area="" asp-controller="Inscripciones" asp-action="Index" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Inscripciones") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Inscripciones</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "AnioCarreras") ? "active" : "")"
                               asp-area="" asp-controller="AnioCarreras" asp-action="IndexPorCarrera" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "AnioCarreras") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Años de Carrera</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Materias") ? "active" : "")"
                               asp-area="" asp-controller="Materias" asp-action="IndexPorAnio" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Materias") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Materias</a>
                        </li>
                        <li class="nav-item" style="margin-right: 5px; flex: 1 0 auto;">
                            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "DetalleInscripciones") ? "active" : "")"
                               asp-area="" asp-controller="DetalleInscripciones" asp-action="IndexPorInscripcion" style="display: inline-block; padding: 5px 10px; text-decoration: none; color: white; background-color: @((ViewContext.RouteData.Values["Controller"]?.ToString() == "DetalleInscripciones") ? "#0056b3" : "#007BFF"); border-radius: 5px; transition: background-color 0.3s, color 0.3s;">Detalle de Inscripciones</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
                        </li>
                    </ul>
                </div>
            </div>
<<<<<<< HEAD
        </nav> 
=======
        </nav>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Inscripciones - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
