@model IEnumerable<Inscripciones.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<h1>Lista de alumnos</h1>

<p>
    <a asp-action="Create">Crear nuevo alumno</a>
=======
<h1>Lista de Alumnos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Alumno</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
<<<<<<< HEAD
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
=======
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="details-link">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Eliminar</a>
                </td>


>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
        </tr>
}
    </tbody>
</table>
