@model IEnumerable<Inscripciones.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<h1>Lista de carreras</h1>

<p>
    <a asp-action="Create">Crear nueva carrera</a>
=======
<h1>Lista de Carreras</h1>

<p>
    <a asp-action="Create">Crear nueva Carrera</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
<<<<<<< HEAD
            <td>
     <a asp-controller="AnioCarreras" asp-action="IndexPorCarrera" asp-route-idcarrera="@item.Id">Años</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        
=======
                <td>
                    <a asp-controller="AnioCarreras" asp-action="IndexPorCarrera" asp-route-idcarrera="@item.Id" class="anos-link">Años</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="details-link">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Eliminar</a>
                </td>

        </tr>

}
           
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Volver</a>
