@model IEnumerable<Inscripciones.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Carreras</h1>

<p>
    <a asp-action="Create">Crear nueva Carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color: black; background-color: #FFD700; padding: 5px 10px; text-decoration: none; border-radius: 5px; font-weight: bold; transition: background-color 0.3s;">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: black; background-color: #90EE90; padding: 5px 10px; text-decoration: none; border-radius: 5px; font-weight: bold; transition: background-color 0.3s;">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: black; background-color: #FF6347; padding: 5px 10px; text-decoration: none; border-radius: 5px; font-weight: bold; transition: background-color 0.3s;">Eliminar</a>
                </td>

        </tr>
}
    </tbody>
</table>
