@model IEnumerable<Inscripciones.Models.AnioCarrera>

@{
    ViewData["Title"] = "Index";
    int idcarrera = ViewBag.IdCarrera;

}

<h1>MOSTRANDO CARRERAS SELECCIONADAS POR AÑO</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="AnioCarreras" asp-action="IndexPorCarrera" method="post">
    <div class="form-group">
        <label asp-for="@idcarrera" class="control-label"></label>
        <select asp-for="@idcarrera" class="form-control" asp-items="ViewBag.Carreras" onchange="this.form.submit()"></select>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
