@model Inscripciones.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<<<<<<< HEAD
<h1>Details</h1>
=======
<h1>Detalles</h1>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioCarrera)
        </dt>
        <dd class = "col-sm-10">
<<<<<<< HEAD
            @Html.DisplayFor(model => model.AnioCarrera.Nombre)
=======
            @Html.DisplayFor(model => model.AnioCarrera.Id)
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
        </dd>
    </dl>
</div>
<div>
<<<<<<< HEAD
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
=======
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
</div>
